h1{
    text-align: center;
    font-size: 60px;
    color: rgb(106, 11, 11)   
}

body {
background-image: url('Felix-Stray-Kids-Elle-Korea-Cover-2023-White-Louis-Vuitton-Suit.jpg');
}
 .gato{
    width: 20%;
    height: 25%;
}
P{
 text-align: center;
 font-size: 40px ;   
 color: rgb(77, 3, 3)82)
}

.button{
background-color: rgb(57, 4, 4)
text-align: center;
border: none;
display: inline-block;
padding: 20px 30px;
cursor: pointer;
}
.cabecalho{
    border-style: groove;
    border-color: rgb(91, 4, 4);
}