h1{
    text-align: center;
    font-size: 60px;
    color: hsl(0, 84%, 27%)   
}

body {
background-image: url('Felix-Stray-Kids-Elle-Korea-Cover-2023-White-Louis-Vuitton-Suit.jpg');
}
 .felix{
    width: 40%;
    height: 45%;
}
P{
 text-align: center;
 font-size: 40px ;   
 color: rgb(255, 0, 0);
}

.botao{
background-color: rgb(74, 12, 12);
text-align: center;
border: none;
display: inline-block;
padding: 30px 40px;
cursor: pointer;
}
.cabecalho{
    border-style: groove;
    border-color: rgb(122, 6, 6);
}