h1{
    text-align: center;
    font-size: 60px;
    color: rgb(106, 52, 8);   
}

body {
background-image: url('louis-vuitton-cover.png');
}
 .gato{
    width: 10%;
    height: 15%;
}
P{
 text-align: center;
 font-size: 40px ;   
 color: rgb(253, 245, 182);
}

.button{
background-color: rgb(145, 63, 8)
text-align: center;
border: none;
display: inline-block;
padding: 20px 30px;
cursor: pointer;
}
